.aa
{
    
    text-align: center;
    background-color:lightblue;
    height: 100px;
}
.bb
{
    margin-left: 300px;
    height: 60px;
    
}
.cc
{
background-color: royalblue;
font-size: 40px;
height: 60px;

}
